<article class="card">
  <figure>
    <a href="{{ post.url }}" aria-label="{{ post.data.title }}">
        {% RelImage post.page, post.data.thumbnail, post.data.thumbnail_alt, "(max-width: 800px) 70vw,(max-width: 1200px) 49vw, 33vw" %}
    </a>
    <figcaption>
      <h2 class="card-title">
        <a class="hide-link" href="{{ post.url }}">{{ post.data.title }}</a>
      </h2>
      <p class="card-text">
        {% if post.data.author %}
          {% set post_authors = authors | getAuthors(post.data.author) %}
          {% for pa in post_authors %}
            <a class="hide-link" href="/author/{{ pa.key }}">{{ pa.name }}</a>{% if not loop.last %}, {% endif %}
          {% endfor %}
        {% endif %}
      </p>
    </figcaption>
  </figure>
</article>