<article class="card card-with-icon">
    {% svg 'pen' %}

    <h2 class="card-title">Participer</h2>
    <p class="card-text">Ce blog artistique est communautaire : si l'envie vous en dit, vous pouvez <a class="force-link" href="/participer/">participer</a> ! Alors n'hésitez pas et à bientôt !</p>
    <p class="btn card-cta"><a class="hide-link" href="/participer/">En savoir plus</a></p>
</article>
