<article class="card card-with-icon">
  {% svg 'folder' %}
  <h2 class="card-title">L'art par thèmes et techniques</h2>
  <p class="card-text">La diversité artistique est infinie, mais nous vous proposons de découvrir les créateurs par thèmes de prédilection :
    <a class="force-link" href="/tag/digital-painting/">digital painting</a>,
    <a class="force-link" href="/tag/street-art/">street art</a>,
    <a class="force-link" href="/tag/photographie/">photographie</a>,
    <a class="force-link" href="/categorie/p-art-ition/">musique</a>,
    <a class="force-link" href="/tag/surrealisme/">art surréaliste</a>,
    <a class="force-link" href="/tag/aquarelle/">aquarelle</a>,
    <a class="force-link" href="/tag/art-abstrait/">art abstrait</a> ou encore
    <a class="force-link" href="/tag/sculpture/">sculpture</a> !</p>
</article>
