.card-sharing {
  .card-list {
    list-style: none;
    font-family: $mainfont;
    font-weight: bold;
    margin: 0;
    text-align: left;
    
    &-item {
      display: grid;
      grid-template-columns: 10% 1fr;
      align-items: center;
      padding:0.5rem 0;

      &-content {
        margin-left: $minimalspace;
      }

      &-input {
        font-weight: normal;
        border-bottom: $smallborder solid $maincolor;
        margin-bottom: 0;
        min-width: 0;
      }

      .svg-copy {
        stroke: $white;
        stroke-width: $largeborder;
      }

      .copy-success, .copy-error {
        // this is sometimes randomly ignored
        // wtf?
        opacity: 0;
      }

      .copy-success {
        stroke: $success;
      }

      .copy-error {
        stroke: $error;
      }
    }

    .popup-info-text {
      // this class is used for the text appearing on copy
      font-family: $secondaryfont;
      font-weight: normal;
      position: absolute;
      margin: 0; // removing that stuff as it'll be a p tag
      padding: 0;
      left: 0;
    }
  }
}
